@(changePasswordForm : Form[Application.ChangePassword])

@main("Change Password") {

    <div class="panel panel-default">
        <div class="panel-body">

        @helper.form(action = routes.Application.changePassword()) {
            @if(changePasswordForm.hasGlobalErrors) {
                <div class="alert alert-error"></div>
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @changePasswordForm.globalError.message
                </div>
            }


            @helper.inputText(
                changePasswordForm("id"),
                '_label -> null,
                'style -> "display: none"
            )

            @helper.inputPassword(
                changePasswordForm("originalPassword"),
                '_label -> Messages("form.change.password.originalPassword")
            )

            @helper.inputPassword(
                changePasswordForm("newPassword"),
                '_label -> Messages("form.change.password.newPassword")
            )

            @helper.inputPassword(
                changePasswordForm("newPasswordConfirmation"),
                '_label -> Messages("form.change.password.newPasswordConfirmation")
            )

            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn form-control btn-success" value="@Messages("form.change.password.submit")">
                </div>
            </div>
        }

        </div>
    </div>

}
