@(postForm: Form[Post])

@main("Edit Post") {

    <div class="panel panel-default">
        <div class="panel-body">

        @helper.form(action = routes.PostsEditor.submit()) {

            @helper.inputText(
                postForm("id"),
                '_label -> null,
                'style -> "display: none"
            )

            <legend>
            @helper.inputText(
                postForm("title"),
                'placeholder -> Messages("form.entry.editable.title"),
                '_label -> null

            )
            </legend>

            <div style="text-align : justify ;">
            @helper.textarea(
                postForm("content"),
                'placeholder -> Messages("form.entry.editable.content"),
                '_label -> null,
                'style -> "width: 100%",
                'rows -> 20
            )
            </div>

            @helper.inputText(
                postForm("publishedOn"),
                '_label -> null,
                'readonly -> "readonly",
                'format -> "dd.MM.yyyy HH:mm"
            )

            @helper.inputText(
                postForm("author"),
                'class -> "input-xlarge",
                '_label -> null,
                'readonly -> "readonly"
            )

            <hr>
            <div class="row">
                <div class="col-md-9">
                    @*<spring:message code="form.entry.editable.hashTags" var="hashPlaceholder"/>*@
                    @*<form:input path="hashTags" cssStyle="width: 100%;" placeholder="${hashPlaceholder}"/>*@
                </div>
                <div class="col-md-3">
                    <input type="submit" class="btn form-control btn-success" value="@Messages("post.save")">
                </div>
            </div>
        }
        </div>
    </div>
}
