@(posts: List[Post])

@main("Blog") {

    <div class="jumbotron">
        <h1>@Messages("index.title")</h1>
        <p>@Messages("index.content")</p>
        <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">@Messages("index.link")</a>
        </p>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr><td>@Messages("index.entry.list.head")</td></tr>
                </thead>
                <tbody>
                    @for(post <- posts) {
                        <tr>
                            <td><a href="@routes.PostsViewer.showAndUpdatePost(post.id)">@post.title</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
