@(post: Post, commentForm: Form[Comment])

    @main(post.title) {

        <div class="panel panel-default">
            <div class="panel-body">
                <div id="legend">
                    <legend>
                        @post.title
                        @if(Secured.user()!=null) {
                            @if(Role.Type.EDITOR == Secured.user().role.`type`) {
                                | <a href="/edit/post/@post.id">@Messages("form.entry.details.editpost")</a>
                            }
                        }
                    </legend>
                </div>
                <div style="text-align : justify ;">
                    <span>@post.content</span>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-9">
                        @* @for(hashTag <- post.hashTags) {*@
                        @*<a href="/query?h=@hashTag.name"><span class="label label-default">#@hashTag.name</span></a>*@
                        @* }*@
                    </div>
                    <div class="col-md-3">@post.author | @post.publishedOn.format("dd.MM.yyyy HH:mm")</div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5">
                    </div>
                </div>
            </div>
        </div>

        @helper.form(action = routes.PostsViewer.addComment(post.id)) {
            <div class="control-group container panel-body">
                <div class="controls">
                    <div class="row">
                        <div class="col-sm-6">
                            @helper.inputText(
                                commentForm("author"),
                                '_label -> null,
                                'placeholder -> "nick",
                                '_help -> ""
                            )
                            @helper.textarea(
                                commentForm("content"),
                                '_label -> null,
                                '_help -> "",
                                'style -> "height: 70px; width: 100%"
                            )
                        </div>
                        <div class="col-sm-3">
                            <input type="submit" value="@Messages("form.entry.details.addComment.submit")" class="btn btn-success"
                            style="height: 70px;"/>
                        </div>
                    </div>
                </div>
            </div>
        }

        @for(comment <- post.comments) {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a id="@comment.id" style="">#@comment.id</a> @comment.author @Messages("form.entry.details.comment.inDay") @comment.publishedOn.format("dd.MM.yyyy HH:mm")
                            @Messages("form.entry.details.comment.wrote"):
                        </div>
                        <div class="col-md-1">
                            @comment.mark
                        <strong>
                            <a href="/post/@post.id?commentId=@comment.id&thumb=down" class="text-danger"><i
                            class="glyphicon glyphicon-thumbs-down"></i>
                            </a>
                        </strong>
                        <strong>
                            <a href="/post/@post.id?commentId=@comment.id&thumb=up" class="text-success"><i
                            class="glyphicon glyphicon-thumbs-up"></i>
                            </a>
                        </strong>
                        </div>
                        <div class="col-md-1">
                            @*<a href="/entry/@post.id?commentId=@comment.id"><spring:message*@
                            @*code="form.entry.details.comment.reply"/>*@
                            @*</a>*@
                        </div>
                    </div>
                    <span>@comment.content</span>
                </div>
            </div>
        }
    }