@(form: DynamicForm)

@main("Sign Up") {

    <div class="panel panel-default">
        <div class="panel-body">


            <form class="form-horizontal" action='/registration' method="POST" commandName="user">
                <fieldset>
                    <div id="legend">
                        <legend>
                        @Messages("signup.legend")
                        </legend>
                    </div>
                    <div class="control-group">
                        @for(error <- form("username").errors) {
                            <p style="color:red">@error.message</p>
                        }
                        <label class="control-label" for="username">
                            @Messages("signup.email")
                        </label>
                        <div class="controls">
                            <input path="username" name="username" size="30" id="username" cssClass="input-xlarge" value="@form.get("username")"/>
                            <p class="help-block">
                                @Messages("signup.email.info")
                            </p>
                            @*<form:errors path="email" cssClass="text-danger"/>*@
                        </div>
                    </div>
                    <div class="control-group">
                        @for(error <- form("password").errors) {
                            <p style="color:red">@error.message</p>
                        }
                        <label class="control-label" for="password">
                            @Messages("signup.password")
                        </label>
                        <div class="controls">
                            <input type="password" name="password" size="30" id="password" cssClass="input-xlarge" value="@form.get("password")"/>
                            <p class="help-block">
                                @Messages("signup.password.info")
                            </p>
                            @*<form:errors path="password" cssClass="text-danger"/>*@
                        </div>
                    </div>

                    <div class="control-group">
                        @for(error <- form("passwordConfirmation").errors) {
                            <p style="color:red">@error.message</p>
                        }
                        <label class="control-label" for="passwordConfirmation">
                            @Messages("signup.passwordConfirmation")
                        </label>
                        <div class="controls">
                            <input type="password" name="passwordConfirmation" size="30" id="passwordConfirmation" cssClass="input-xlarge" value="@form.get("passwordConfirmation")"/>
                            <p class="help-block">
                                @Messages("signup.passwordConfirmation.info")
                            </p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" value="@Messages("signup.submit")" class="btn btn-success"/>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
}
